

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>


<script>

    function validate() {


        let firstname = document.getElementById('firstname');

        if (firstname.value.length <= 2) {

            message.innerHTML = 'Please enter firstname that is atleast two characters';
            return false;
        }

        let lastname = document.getElementById('lastname');
        if (lastname.value.length <= 2) {

            message.innerHTML = 'Please enter last name that is atleast two characters';
            return false;
        }

        let email = document.getElementById('email');
        let re = /^([A-Za-z0-9]{5,20})+@@([A-Za-z0-9])+.([A-Za-z]{2,4})$/;

        if (email.value.match(re == null))  {

            message.innerHTML = 'Please enter a valid email';
            return false;

        }


        let password = document.getElementById('password');
        let regpass = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;
        if (password.value.match(regpass == null)) {

            message.innerHTML = 'Please enter a valid password.Password must contain an uppercase letter, a lowercase letter, a number, and a special character';
            return false;
        }

        let confirmpassword = document.getElementById('confirmpassword');
        if (confirmpassword.value != password.value) {
            message.innerHTML = 'Passwords does not match. Please try again';
            return false;
        }

        message.innerHTML = '';
        return true;
    }
</script>

<div id="message" style="font-weight: bold; color:red"></div>

<form method="post" onsubmit="return validate()">


    FirstName: <input type="text" name="firstname" id="firstname" placeholder="First Name" /><br />
    LastName: <input type="text" name="lastname" id="lastname" placeholder="Last Name" /><br />
    Email: <input type="text" name="email" id="email" placeholder="Email" /><br />
    Password: <input type="password" name="password" id="password" placeholder="Password" /><br />
    ConfirmPassword: <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" /><br />
    <input type="submit" />
</form>